.card {
  @apply mt-5 min-h-[155px] rounded-lg border bg-gray-lightest;
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px rgba(12, 26, 75, 0.24);
  &Header {
    @apply flex items-center rounded-lg bg-white px-4 py-2;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px rgba(12, 26, 75, 0.24);
    &Title {
      @apply mr-4 font-bold text-naturals-900;
    }
    &Info {
      @apply hidden sm:flex sm:flex-1 sm:justify-end;
      &Date {
        span {
          font-weight: 400;
          @apply text-gray-dark;
        }
        time {
          @apply font-bold text-naturals-900;
        }
        &:first-child {
          @apply relative px-3;
          &::before {
            content: "";
            position: absolute;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            left: 6px;
            height: 100%;
          }
        }
      }
      &Comments {
        @apply flex pr-7 text-gray-light;
        span {
          @apply mr-1 text-gray-dark;
        }
      }
    }
  }
  &Body {
    @apply px-4 py-4 text-sm font-light text-naturals-900;
  }
  &Actions {
    @apply flex justify-end px-4 py-2;
  }
}
