@import "./buttons.scss";
@import "./form.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-200;
  max-width: 100vw;
  overflow-x: hidden;
  direction: rtl;
  font-feature-settings: "ss01";
}
